<%= form_for([@school, @idea]) do |f| %>
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% @idea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body, size: "100x30" %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id, value: 1 %>
  </div>
  <div class="field">
    <%= f.hidden_field :school_id, value: @school.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
